.contentCard {
  list-style: none;
  font-size: 1.5rem;
  text-align: center;
  transition: opacity 300ms;
}

.contentCard:hover {
  opacity: 0.8;
  cursor: pointer;
}

.contentImage {
  border-radius: 10%;
  background-color: azure;
}

@media (max-width: 560px) {
  .contentImage {
    width: 90%;
    height: auto;
  }
}
