.contentHeader {
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073,
    0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}

.contentGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  justify-content: center;
  gap: 40px;
  padding: 40px;
}

@media (max-width: 560px) {
  .contentGrid {
    grid-template-columns: 100%;
  }
}
